In [256]:
import numpy as np
from sklearn import preprocessing, model_selection, neighbors, svm
import pandas as pd
from sklearn.utils import shuffle

In [257]:
df = shuffle(pd.read_csv('G:/mammographic_masses.csv'))

In [258]:
df.head()

    Score Age Shape Margin Density  Malignant
23      3  46     1      ?       ?          0
956     6  71     4      4       3          1
818     5  68     4      3       3          1
194     4  68     1      1       3          0
538     4  38     4      1       3          0

In [259]:
df.replace('?',0.00,inplace=True)
df.head()

    Score Age Shape Margin Density  Malignant
23      3  46     1      0       0          0
956     6  71     4      4       3          1
818     5  68     4      3       3          1
194     4  68     1      1       3          0
538     4  38     4      1       3          0

In [260]:
y = df["Malignant"]
x = df.drop("Malignant",axis = 1)

In [261]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(x, y, test_size=0.45, shuffle=False)

In [262]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)

C:\Users\Sikadai\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Sikadai\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Sikadai\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [263]:
clf = svm.SVC(kernel='poly', C= 10)

clf.fit(X_train, Y_train)
confidence = clf.score(X_test, Y_test)
all_predictions = clf.predict(X_test)
print(all_predictions)
print(confidence)

[0 0 1 0 1 1 0 0 0 1 0 1 1 1 0 0 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0
 0 1 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 1 1 1 1 0 1 1 1 0 0 1 0 0 0 1 0 1 0
 0 0 0 1 1 1 1 0 0 0 1 1 1 0 0 0 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 0 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 1 0 1 0 1 1 0 0 0 1 1 0 1 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0
 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 1 1 1 0 1 1 0 0 0
 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0
 1 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0
 1 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 1 1
 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 1 0 0 0 0 1 1 0 1 1 1 1 1 0 0 1 1
 0 1 1 1 0 1 0 1 0 0 1 0 1 1 0 0 0 0 1 0 0 1 1 1 1 0 0 1 0 0 0 0 0 0 1 0 1
 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 0 1 0
 0 0 0 0 1 1 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0]
0.812933025404157

In [264]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

result = confusion_matrix( Y_test,all_predictions)
accuracy = accuracy_score(Y_test,all_predictions)
print(result)
print(accuracy)
print(classification_report(Y_test,all_predictions))

[[194  23]
 [ 58 158]]
0.812933025404157
              precision    recall  f1-score   support

           0       0.77      0.89      0.83       217
           1       0.87      0.73      0.80       216

   micro avg       0.81      0.81      0.81       433
   macro avg       0.82      0.81      0.81       433
weighted avg       0.82      0.81      0.81       433

In [265]:
from sklearn.externals import joblib
joblib.dump(clf, 'model_final.pkl')

['model_final.pkl']

In [266]:
model_columns = list(x.columns)
joblib.dump(model_columns, 'model_final_columns.pkl')
print("Models columns dumped!")

Models columns dumped!